* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	align-items: center;
	background-color: #100f15;
	color: white;
	display: flex;
	flex-direction: column;
	font-family: "JetBrains Mono", monospace;
	font-size: 1rem;
	gap: 20px;
	height: 100vh;
	justify-content: center;
}

.title {
	color: #62616a;
	font-size: 0.9rem;
	width: fit-content;
}

.container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	/*   height: 70vh; */
	width: 350px;
}

.output,
.options {
	background-color: #24232b;
	padding: 20px;
}

.output {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.cbx {
	position: relative;
	top: 1px;
	width: 20px;
	height: 20px;
	border: 1px solid #c8ccd4;
	border-radius: 3px;
	transition: background 0.1s ease;
	cursor: pointer;
	display: block;
}

.cbx:after {
	content: "";
	position: absolute;
	top: 1px;
	left: 5px;
	width: 5px;
	height: 12px;
	opacity: 0;
	transform: rotate(45deg) scale(0);
	border-right: 2px solid #18171f;
	border-bottom: 2px solid #18171f;
	transition: all 0.3s ease;
	transition-delay: 0.15s;
}

.hidden-xs-up:checked ~ .cbx {
	border-color: transparent;
	background: #a3ffae;
	animation: jelly 0.6s ease;
}

.hidden-xs-up:checked ~ .cbx:after {
	opacity: 1;
	transform: scale(1);
	transform: rotate(45deg) scale(1);
}

.checkbox {
	position: relative;
}

@keyframes jelly {
	from {
		transform: scale(1, 1);
	}

	30% {
		transform: scale(1.25, 0.75);
	}

	40% {
		transform: scale(0.75, 1.25);
	}

	50% {
		transform: scale(1.15, 0.85);
	}

	65% {
		transform: scale(0.95, 1.05);
	}

	75% {
		transform: scale(1.05, 0.95);
	}

	to {
		transform: scale(1, 1);
	}
}

.hidden-xs-up {
	display: none !important;
}

.pwd {
	color: #62616a;
	font-size: 1.4rem;
	font-weight: 600;
}

.material-symbols-outlined {
	color: #18171f;
}

.options {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.length_option {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.length_label {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.length_value {
	color: #a3ffae;
	font-size: 1.5rem;
}

/* SLIDER */
input[type="range"] {
	-webkit-appearance: none;
	width: 100%;
	height: 7px;
	background: hsl(248, 15%, 11%);
	background-image: linear-gradient(#a3ffae, #a3ffae);
	background-size: 0% 100%;
	background-repeat: no-repeat;
}

/*CHROME*/
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 28px;
	width: 28px;
	border: 2px solid hsl(252, 11%, 91%);
	border-radius: 50%;
	background-color: hsl(252, 11%, 91%);
	cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:hover {
	border: 2px solid #a3ffae;
	background-color: hsl(248, 15%, 11%);
}

input[type="range"]::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
}

/*FIREFOX*/
input[type="range"]::-moz-range-thumb {
	-moz-appearance: none;
	height: 28px;
	width: 28px;
	border: 2px solid hsl(252, 11%, 91%);
	border-radius: 50%;
	background-color: hsl(252, 11%, 91%);
	cursor: pointer;
}

input[type="range"]::-moz-range-thumb:hover,
input[type="range"]::-moz-range-thumb:active {
	border: 2px solid #a3ffae;
	background-color: hsl(248, 15%, 11%);
}

.characters_options {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.checkbox {
	display: flex;
	gap: 15px;
}

.strength {
	align-items: center;
	background-color: #18171f;
	color: #62616a;
	display: flex;
	justify-content: space-between;
	font-weight: 600;
	height: 50px;
	padding: 10px;
}

.strength_gtaphic {
	display: flex;
	gap: 10px;
	align-items: center;
}

.bars {
	display: flex;
	gap: 5px;
}

.bar {
	width: 1rem;
	height: 40px;
	border: 2px solid hsl(252, 11%, 91%);
	background: none;
}

#generate {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2.2rem;

	font-family: inherit;
	font-size: 1.1rem;
	color: hsl(247, 11%, 15%);

	width: 100%;
	height: 50px;
	border: 2px solid hsl(127, 100%, 82%);
	background-color: hsl(127, 100%, 82%);
	cursor: pointer;
}

#generate:hover {
	color: hsl(127, 100%, 82%);
	background-color: hsl(247, 11%, 15%);
}

#generate:hover path {
	fill: #a3ffae;
}
