@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	align-items: center;
	background-color: #100f15;
	color: white;
	display: flex;
	flex-direction: column;
	font-family: "Source Code Pro", monospace;
	font-size: 1rem;
	gap: 20px;
	height: 100vh;
	justify-content: center;
}

.title {
	color: #62616a;
	font-size: 0.9rem;
	width: fit-content;
}

.container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	/*   height: 70vh; */
	width: 350px;
}

.output,
.options {
	background-color: #24232b;
	padding: 20px;
}

.output {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.cbx {
	position: relative;
	top: 1px;
	width: 20px;
	height: 20px;
	border: 1px solid #c8ccd4;
	border-radius: 3px;
	transition: background 0.1s ease;
	cursor: pointer;
	display: block;
}

.cbx:after {
	content: "";
	position: absolute;
	top: 1px;
	left: 5px;
	width: 5px;
	height: 12px;
	opacity: 0;
	transform: rotate(45deg) scale(0);
	border-right: 2px solid #18171f;
	border-bottom: 2px solid #18171f;
	transition: all 0.3s ease;
	transition-delay: 0.15s;
}

.hidden-xs-up:checked ~ .cbx {
	border-color: transparent;
	background: #a4ffaf;
	animation: jelly 0.6s ease;
}

.hidden-xs-up:checked ~ .cbx:after {
	opacity: 1;
	transform: scale(1);
	transform: rotate(45deg) scale(1);
}

.checkbox {
	position: relative;
}

@keyframes jelly {
	from {
		transform: scale(1, 1);
	}

	30% {
		transform: scale(1.25, 0.75);
	}

	40% {
		transform: scale(0.75, 1.25);
	}

	50% {
		transform: scale(1.15, 0.85);
	}

	65% {
		transform: scale(0.95, 1.05);
	}

	75% {
		transform: scale(1.05, 0.95);
	}

	to {
		transform: scale(1, 1);
	}
}

.hidden-xs-up {
	display: none !important;
}

.pwd {
	color: #62616a;
	font-size: 1.4rem;
	font-weight: 600;
}

.material-symbols-outlined {
	color: #a4ffaf;
}

.options {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.length_option {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.length_label {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.length_value {
	color: #a4ffaf;
	font-size: 1.5rem;
}

/* SLIDER */
input[type="range"] {
	-webkit-appearance: none; /* Hides the slider so that custom slider can be made */
	width: 100%; /* Specific width is required for Firefox. */
	background: transparent; /* Otherwise white in Chrome */
}

/* special styling for webkit/blink */
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #ffffff;
	cursor: pointer;
	margin-top: -8px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

/* same stuff for firefox */
input[type="range"]::-moz-range-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #ffffff;
	cursor: pointer;
}

/* same stuff for ie */
input[type="range"]::-ms-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #ffffff;
	cursor: pointer;
}

input[type="range"]:focus {
	outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type="range"]::-ms-track {
	width: 100%;
	cursor: pointer;
	/* Hides the slider so custom styles can be added */
	background: transparent;
	border-color: transparent;
	color: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
	width: 100%;
	height: 5px;
	cursor: pointer;
	background: #18171f;
	/*   border-radius: calc(infinity * 1px); */
}

input[type="range"]::-moz-range-track {
	width: 100%;
	height: 5px;
	cursor: pointer;
	background: #18171f;
}

.characters_options {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.checkbox {
	display: flex;
	gap: 15px;
}

.strength {
	align-items: center;
	background-color: #18171f;
	color: #62616a;
	display: flex;
	font-weight: 600;
	height: 50px;
	padding: 25px;
}

#generate {
	align-items: center;
	background-color: #a4ffaf;
	border: none;
	color: #24232b;
	display: flex;
	font-family: "Source Code Pro", monospace;
	font-weight: 600;
	font-size: 1.1rem;
	gap: 20px;
	height: 50px;
	justify-content: center;
}
